body {
  font-family: "Times New Roman", Times, serif;
  padding-left: 8px;
  padding-right: 8px;
}

html {
  background-color: #f0ead6;
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}
